[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/xkonsiv
[access "refs/for/refs/*"]
	read = group user/xkonsiv
	push = group user/xkonsiv
	label-Code-Review = -2..+2 group user/xkonsiv
	label-Verified = -1..+1 group user/xkonsiv
	rebase = group user/xkonsiv
	removeReviewer = group user/xkonsiv
	submit = group user/xkonsiv
[access "refs/heads/*"]
	read = group user/xkonsiv
	create = group user/xkonsiv
	push = +force group user/xkonsiv
	pushMerge = group user/xkonsiv
[access "refs/tags/*"]
	push = +force group user/xkonsiv
	pushTag = group user/xkonsiv
	pushSignedTag = group user/xkonsiv
